#过滤/~/~/目录下的所有文件
/*/*/*
#保留/~/~/目录下的所有.cpp
!/*/*/*.cpp

#保留Answer for leetcode文件夹
!/Answer-for-leetcode/*

#过滤/～/目录下的所有文件
/*/*
#只保留/～/目录下的所有.cpp文件
!/*/*.cpp
!/*/*.py

#过滤/目录下的所有带后缀名的文件
/*.*
#只保留.gitignore文件
!.gitignore

#只保留LICENSE文件
!LICENSE

#只保留README.md文件
!README.md
